<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Júlia Ana</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">

<br>
  <div class="image">
<img src="https://conteudo.imguol.com.br/c/entretenimento/86/2022/08/19/nao-e-sobre-canudo-rayssa-bratillieri-engaja-16-milhao-de-pessoas-por-lixo-zero-1660921803080_v2_450x600.jpg" alt="">
</div>

<ion-list>
  <ion-item>
    <ion-label>Telefone: (14)99999-1516</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Email: julia.ana@email.com </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Endereço: Rua da Avenida, 224</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>ID: 222</ion-label>
  </ion-item>
</ion-list>

</ion-content>
