<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Denis Henrique</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
<br>
  <div class="image">
<img src="http://s2.glbimg.com/Vs6Y7yVwTyJsoq-OwtKOKAuotFU=/620x430/e.glbimg.com/og/ed/f/original/2018/01/26/pessoa-negra-escritorio.jpeg" alt="">
</div>

<ion-list>
  <ion-item>
    <ion-label>Telefone: (14)99999-1314</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Email:  denis.henrique@email.com</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Endereço: Rua da Avenida, 224</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>ID: 232</ion-label>
  </ion-item>
</ion-list>

</ion-content>
