<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Ana Julia</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
<br>
  <div class="image">
<img src="https://conteudo.imguol.com.br/c/entretenimento/38/2022/05/17/jovem-mulher-com-sindrome-de-down-1652808572452_v2_900x506.jpg" alt="">
</div>

<ion-list>
  <ion-item>
    <ion-label>Telefone: (14)99999-5421</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Email:  ana.julia@email.com</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Endereço: Rua da Rua, 221</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>ID: 243</ion-label>
  </ion-item>
</ion-list>

</ion-content>
